@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin 'tailwind-scrollbar';

body {
  font-family: "Vazirmatn", sans-serif;
}

.hover-primary:hover {
  background-color: rgb(var(--theme-primary-rgb));
}

.hover-primary-text:hover {
  color: rgb(var(--theme-primary-rgb));
}

.bg-primary {
  background-color: rgb(var(--theme-primary-rgb));
}

.text-primary {
  color: rgb(var(--theme-primary-rgb));
}

.border-primary {
  border-color: rgb(var(--theme-primary-rgb));
}

.outline-primary {
  outline-color: rgb(var(--theme-primary-rgb));
}

.hover-secondary:hover {
  background-color: rgb(var(--theme-secondary-rgb));
}

.hover-secondary-text:hover {
  color: rgb(var(--theme-secondary-rgb));
}

.bg-secondary {
  background-color: rgb(var(--theme-secondary-rgb));
}

.text-secondary {
  color: rgb(var(--theme-primary-rgb));
}

.border-secondary {
  border-color: rgb(var(--theme-secondary-rgb));
}

.outline-secondary {
  outline-color: rgb(var(--theme-secondary-rgb));
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
